@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f9fa;
  font-family: Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.6; }

h2 {
  color: #0065bd;
  padding: 10px; }

h3,
h4 {
  color: #0065bd;
  padding: 5px;
  text-shadow: 2px 2px 10px black; }

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

/* Navigation bar */
.nav {
  background-color: #ffffff;
  height: 18vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10; }
  .nav__logo {
    padding: 5px; }
    .nav__logo img {
      width: 100%;
      height: 100%; }

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center; }
  .lists li {
    font-weight: 600;
    padding: 8px 20px;
    list-style: none; }
  .lists a {
    text-decoration: none;
    color: inherit; }
  .lists__dropdown-btn:hover .lists__dropdown-content {
    display: block; }
  .lists__dropdown-content {
    display: none;
    position: absolute;
    background-color: #dddddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .lists__dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left; }
    .lists__dropdown-content a:hover {
      background-color: #f1f1f1; }

.drpd-icn {
  align-items: center;
  height: 2.4vh;
  width: 1vw;
  padding-top: 0.2vw; }

/* Nav Social Links */
.social-container {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 2em;
  align-items: center; }

.social-contact {
  margin-right: 2em;
  text-decoration: none; }

.social-icons li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
  font-size: 1.2em; }

.social-icons i {
  color: #76cef0;
  position: absolute;
  top: 6px;
  left: 7px;
  transition: all 265ms ease-out; }

.social-icons a {
  display: inline-block; }
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 30px;
    height: 30px;
    display: block;
    background-color: ivory;
    transition: all 265ms ease-out; }
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in; }
  .social-icons a:hover i {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in; }

.intro {
  margin-top: 2em;
  height: 80vh;
  scroll-margin-top: 18.5vh;
  text-align: center;
  padding: 80px;
  color: #002da0; }

.heading-primary {
  color: #0065bd;
  font-size: 40px;
  padding: 15px; }

.paragraph {
  padding: 13px; }

.unveil,
.mandate,
.values,
.vision,
.mission,
.partners {
  scroll-margin-top: 18.5vh;
  padding: 20px; }
  .unveil p,
  .mandate p,
  .values p,
  .vision p,
  .mission p,
  .partners p {
    padding: 10px; }

.struc {
  height: 70vh;
  scroll-margin-top: 18.5vh; }
  .struc img {
    height: 60vh;
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto; }

.section {
  background-color: #dce2e6;
  padding: 70px 40px;
  display: flex;
  justify-content: space-evenly;
  height: 100vh; }

.section_content {
  width: 30%;
  height: 50vh;
  margin: 20px;
  text-align: center; }
  .section_content img {
    border: 1px solid #b8b6b6;
    width: 100%;
    height: 100%; }
  .section_content p {
    font-size: 14px;
    color: #0065bd; }

.card3 p {
  font-size: 12px; }

/* Slideshow */
/* Slideshow container */
.slideshow-container {
  height: 80vh;
  scroll-margin-top: 18vh;
  z-index: 1; }

.mySlides {
  width: 100%;
  height: 100%;
  display: none; }

.mySlides img {
  width: 100%;
  height: 100%; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #002DA0;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s; }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px; } }

/* Footer */
.footer {
  background-color: #002B5C;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white; }

.footerB {
  background-color: black;
  height: 10vh;
  text-align: center;
  color: white;
  padding: 3vh; }

.cards-f {
  display: flex;
  justify-content: space-evenly; }
  .cards-f__item {
    border-right-style: solid;
    border-right: 2px, white;
    padding-right: 5vw; }
    .cards-f__item ul {
      list-style-type: none; }
    .cards-f__item a {
      text-decoration: none;
      color: white; }

.social-group {
  height: 20vh;
  display: flex;
  justify-content: space-around; }
  .social-group img {
    height: 100%;
    width: 30vh; }

/* Social Media Buttons */
.social-icons-f {
  list-style: none; }
  .social-icons-f li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em; }
  .social-icons-f i {
    color: #1977bf;
    position: absolute;
    top: 12px;
    left: 12px;
    transition: all 265ms ease-out; }
  .social-icons-f a {
    display: inline-block; }
    .social-icons-f a:before {
      transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      content: " ";
      width: 40px;
      height: 40px;
      display: block;
      background-color: ivory;
      transition: all 265ms ease-out; }
    .social-icons-f a:hover:before {
      transform: scale(0);
      transition: all 265ms ease-in; }
    .social-icons-f a:hover i {
      transform: scale(2);
      -ms-transform: scale(2);
      -webkit-transform: scale(2);
      color: #00b5f5;
      background-color: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 265ms ease-in; }
