html {
  box-sizing: border-box;
  // font-size: 62.5%; //1rem = 10px
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  // font-family: Verdana, sans-serif;
  // font-family: "Poppins", sans-serif;
  // font-family: "Montserrat", sans-serif;
  font-family: "Lato", sans-serif;
  // color: #444;
  font-weight: 400;
  line-height: 1.6;
}

// h1,
// h2 {
//   color: #0065bd;
//   padding: 10px;
// }
h2 {
  color: #0065bd;
  padding: 10px;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
