html {
	scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
  font-family: Verdana, sans-serif;
}

h1, h2 {
  color: #0065bd;
  padding: 10px;
}

h3, h4 {
  color: #0065bd;
  padding: 5px;
  text-shadow: 2px 2px 10px black;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}