$scroll-marg-size: 18.5vh;
.intro {
  // background-color: aqua;
  // margin-top: 2em;

  height: 180vh;
  scroll-margin-top: $scroll-marg-size;
  text-align: center;
  // padding: 80px;
  // background-color: #0065bd;
  padding: 4rem;
  // font-size: 1rem;
  // color: #002da0;
  // background-color: #000000;
  font-size: 1.05rem;
}
.introObjetives {
  // margin-top: 3rssem;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 10rem 4rem 4rem;
  background-color: #ffffff;
  // height: 100vh;
  // background-color: #000000;
  margin-bottom: -10rem;
  height: 200vh;

  h3 {
    padding-bottom: 4rem;
  }
}
.intro__dataOne,
.intro__dataTwo {
  background-color: #f9f9fd;

  display: flex;

  margin-bottom: 2rem;
  transition: all 2s;
  border-radius: 1rem;
  // background: rgb(187, 223, 200);
  // background: radial-gradient(
  //   circle,
  //   rgba(187, 223, 200, 1) 0%,
  //   rgba(240, 229, 216, 1) 93%
  // );

  // background: rgb(128, 219, 255);
  // background: radial-gradient(
  //   circle,
  //   rgba(128, 219, 255, 1) 0%,
  //   rgba(255, 199, 251, 1) 100%
  // );
}
.intro__dataOne {
  height: 55vh;
}
.intro__dataTwo {
  height: 70vh;
}

.intro__dataOne--textOne,
.intro__dataTwo--textTwo {
  // padding-top: 3rem;
  // padding: 1rsem auto;
  // background-color: rgb(255, 255, 255);
  // background-color: #cffffe;
  flex: 1;
}
.intro__dataOne--imageOne {
  width: 45%;
  height: 54vh;
  padding-top: 0.3rem;
  // padding: 0.8rem 0;
}

.intro__dataTwo--imageTwo {
  width: 45%;
  height: 60vh;
  padding-top: 1rem;
  // padding: 0.8rem 0;
}

.intro__dataOne,
.intro__dataTwo {
  // background-color: #413f57;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.5s, opacity 0.5s;
  }

  img:hover {
    opacity: 1;
    transform: scale(0.899);
  }
}

// h4 {
//   color: #0065bd;
//   padding: 5px;
//   text-shadow: 2px 2px 10px black;
// }
.heading-primary {
  color: #002b5c;
  text-shadow: 1px 1px 10px black;
  font-size: 3rem;
  padding-bottom: 5.4rem;
  letter-spacing: 2px;
}
.heading-primary:after,
.heading-left:after {
  display: block;
  height: 2.5px;
  background-color: #f3c807;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 3px;
}
.heading-secondary {
  color: #0065bd;
  padding-bottom: 3rem;

  font-size: 2.2rem;
  text-shadow: 1px 1px 18px black;
}
.heading-left {
  // text-align: left;
  color: #002b5c;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 3px;
  padding-bottom: 2rem;
  // padding-bottom: 1rem;
}

.heading-medium {
  font-size: 1.4rem;
  letter-spacing: 1.1px;
  padding: 1;
}

.paragraph,
.paragraph__mandate {
  text-align: left;
  line-height: 2;
  color: rgb(41, 38, 38);
  font-size: 1.1rem;
}
.paragraph {
  padding: 1rem 4rem;
}

.paragraph__mandate {
  padding: 1px 2rem;
}

// h1,
// h2 {
//   color:
//   padding: 10px;
// }

// h3,
// h4 {
//   color: #0065bd;
//   padding: 5px;
//   text-shadow: 2px 2px 10px black;
// }

.unveil,
.mandate,
.values,
.vision,
.mission,
.partners {
  scroll-margin-top: $scroll-marg-size;
  // padding: 20px;
  // p {
  //   padding: 10px;
  // }
}

.unveil {
  height: auto;
  padding: 4rem;
  text-align: center;
  font-size: 1.1rem;
  background-color: rgb(227, 243, 243);

  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  z-index: 20;
}

.mandate {
  // margin-top: -20vh;

  z-index: 10;
  height: auto;
  padding: 5rem 4rem;
  text-align: center;
  font-size: 1.1rem;
  // background-color: rgb(192, 143, 37);
  // clip-path: polygon(0 0, 100% 0, 100% 130vh, 0 100%);
}

.values {
  // margin-top: -20vh;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  min-height: 135vh;
  padding: 13rem 4rem;
  text-align: center;
  font-size: 1.1rem;
  // background: rgb(128, 219, 255);
  // background: radial-gradient(
  //   circle,
  //   rgba(128, 219, 255, 1) 0%,
  //   rgba(255, 199, 251, 1) 100%
  // );

  /////////////////////////////// 1
  // background: rgb(128, 219, 255);
  // background: radial-gradient(
  //   circle,
  //   rgba(128, 219, 255, 1) 28%,
  //   rgba(0, 0, 0, 1) 88%
  // );
  // ////////////////////////  2
  // background-color: #def5e5;
  // background: rgb(187, 223, 200);
  // background: radial-gradient(circle, #bbdfc8 0%, #f0e5d8 93%);

  background: rgb(187, 223, 200);
  background: linear-gradient(
    90deg,
    rgb(221, 230, 224) 0%,
    rgb(235, 233, 232) 100%
  );
  margin-bottom: -25vh;
}

.values span {
  font-weight: 500;
}

.Values__details {
  display: flex;
  background-color: blanchedalmond;
}

.mandate span {
  color: rgb(212, 199, 8);
  font-size: 1.2rem;
  height: 20px;

  width: 20px;
  padding-right: 1rem;
}
.mandate li {
  list-style: none;
}

.struc {
  height: 70vh;
  scroll-margin-top: $scroll-marg-size;
  padding: 20px;
  img {
    height: 60vh;
    width: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.HomepageImages {
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  height: 100vh;
  // background-color: #fff;
  // background-color: #456856;

  padding: 13rem 4rem 0rem;
  display: flex;
  gap: 0.7rem;

  background: rgb(187, 223, 200);
  background: linear-gradient(
    90deg,
    rgb(221, 230, 224) 0%,
    rgb(235, 233, 232) 100%
  );

  img:hover {
    opacity: 1;
    transform: scale(0.899);
  }
}

.ImageOne img,
.ImageTwo img {
  height: 100%;
  width: 100%;

  border-radius: 8px;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
}

.ImageOne {
  height: 55vh;
  display: flex;
  width: 50%;
  // flex-direction: column;
  // background-color: #413f57;
  margin-left: 1rem;
  gap: 0.7rem;
}
.ImageTwo {
  height: 55vh;
  display: flex;
  // flex-direction: column;
  flex: 1;
  // background-color: #0065bd;
  gap: 0.7rem;
}

.Image1 {
  // background-color: yellow;
  width: 55%;
}
.Image2 {
  // background-color: #456856;
  flex: 1;
}

.Image3 {
  // background-color: yellow;
  width: 45%;
}
.Image4 {
  // background-color: #456856;
  flex: 1;
}

// ////////////////////////////////////////////  SPEECH TEXT      /////////////////////////////////////////////////////////////////////

/*/////////////////////////////////   OPERATIONS  ./////////////////////////////////////////////////////////*/
.btnn {
  padding: 0.8rem 2rem;

  font-size: 1rem;
  border-radius: 5rem;
}
.btn {
  font-size: 1.6rem;
  padding: 5px 2rem;
  border-radius: 5rem;
}

.btn,
.btnn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  border: none;

  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: fuchsia;
}

.operations {
  max-width: 100rem;
  margin: 3rem 1rem;
  padding: 1rem 0;
  border-radius: 3rem;

  // background-color: #0ecabb;
  // background-color: #c0eee4;
  background-color: #f9f9fd;
  // background-color: rgb(227, 243, 243);
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 300;
  display: inline-block;
}

.operations__tab--1 {
  background-color: #5c4b50;
}
.operations__tab--2 {
  background-color: #456856;
}

.operations__tab--3 {
  background-color: #413f57;
}
.operations__tab--4 {
  background-color: #b38cac;
  margin: 0;
}

.operations__tab--5 {
  background-color: #dcc4f0;
}

.operations__tab--6 {
  background-color: #fce4bc;
}
.operations__tab--7 {
  background-color: #f7dcdf;
  margin: 0;
}

.operations__tab--1:hover,
.operations__tab--2:hover,
.operations__tab--3:hover,
.operations__tab--4:hover,
.operations__tab--5:hover,
.operations__tab--6:hover,
.operations__tab--7:hover {
  background-color: rgb(233, 169, 20);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  // font-size: 1rem;
  // padding: 2rem 7rem 6.5rem 7rem;
  padding: 2rem;
  text-align: left;
  // background-color: yellow;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
  // background-color: #0065bd;
}

.operations__header {
  font-size: 1.6rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2rem;
  width: 2rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: #5c4b50;
}
.operations__icon--2 {
  background-color: #456856;
}
.operations__icon--3 {
  background-color: #413f57;
}
.operations__icon--4 {
  background-color: #b38cac;
}

// .operations__tab--5 {
//   background-color: #dcc4f0;
// }

// .operations__tab--6 {
//   background-color: #fce4bc;
// }
// .operations__tab--7 {
//   background-color: #f7dcdf;
//   margin: 0;
// }

.operations__icon--5 {
  background-color: #dcc4f0;
}
.operations__icon--6 {
  background-color: #fce4bc;
}
.operations__icon--7 {
  background-color: #f7dcdf;
}

.operations__icon--1 svg {
  fill: black;
}
.operations__icon--2 svg {
  fill: black;
}
.operations__icon--3 svg {
  fill: black;
}

/*/////////////////////////////////   OPERATIONS  ./////////////////////////////////////////////////////////*/

@media (max-width: 1200px) {
  .introObjetives {
    margin-bottom: -10rem;
    height: 210vh;
  }

  .intro__dataTwo {
    height: 80vh;
  }
  .paragraph {
    padding: 1rem 2rem;
  }

  .HomepageImages {
    // clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);

    padding: 11 rem 2rem 2rem;
    // height: 110vh;
    gap: 0.5rem;
  }
}

@media (max-width: 1100px) {
  .intro__dataOne {
    height: 60vh;
  }
}

@media (max-width: 1000px) {
  .HomepageImages {
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);

    padding: 10rem 2rem 2rem;
    height: 100vh;
    gap: 0.5rem;
  }

  .intro {
    height: 260vh;
  }

  .introObjetives {
    margin-bottom: -5rem;
    height: 276vh;
  }

  .intro__dataTwo {
    // background-color: #413f57;
    // padding: 5px;
    flex-direction: column;
    border: 0.3px solid #faeee0;
  }

  .intro__dataOne {
    min-height: 100vh;

    border: 0.3px solid #faeee0;

    flex-direction: column;
  }
  .intro__dataOne--imageOne,
  .intro__dataTwo--imageTwo {
    width: 100%;
    height: 55vh;
  }

  .ImageOne {
    height: 50vh;
    gap: 0.5rem;
    // background-color: #0065bd;
  }

  .ImageTwo {
    height: 50vh;
    gap: 0.5rem;
  }
  .values {
    padding: 10rem 4rem;
    // background-color: #f80a9d;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  }
}

@media (max-width: 900px) {
  .intro {
    height: 255vh;
    padding: 4rem 2rem;
  }

  .ImageOne,
  .ImageTwo {
    flex-direction: column;
    height: 75vh;
  }

  .Image2 {
    background-color: #10f57f;
    width: 100%;
  }
  .Image3 {
    height: 30vh;
    background-color: #456856;
    width: 100%;
  }
  .Image4 {
    background-color: #b38cac;
    width: 100%;
  }

  .Image1 {
    height: 35vh;
    background-color: #f3c807;
    width: 100%;
  }

  .introObjetives {
    // clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
    // padding: 10rem 4rem 4rem;
    margin-bottom: -5rem;
    padding: 10rem 4rem 4rem;
    height: 280vh;
    // background-color: #456856;
  }
  // .introObjetives {
  //   margin-bottom: -10rem;
  //   height: 300vh;
  // }

  // .values {
  //   margin-bottom: -10rem;
  // }
}

@media (max-width: 850px) {
  .operations__icon {
    height: 4.5rem;
    width: 4.5rem;
  }

  .operations__content--active {
    grid-template-columns: 6rem 1fr;
    column-gap: 1.5rem;
  }

  .operations__content p {
    padding: 0;
  }
  .operations__tab span {
    margin-right: 1px;
  }

  .operations__header {
    font-size: 1.4rem;
  }

  .btnn {
    padding: 1.4rem 1.2rem;

    font-size: 1rem;
    border-radius: 1rem;
  }

  .heading-primary {
    font-size: 2.8rem;
    padding-bottom: 5.2rem;
    letter-spacing: 1.8px;
  }
}

@media (max-width: 800px) {
  .HomepageImages {
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);

    padding: 10rem 2rem 2rem;
    // height: 85vh;
  }
  .paragraph {
    font-size: 1.05rem;
  }
  .operations {
    font-size: 1.05rem;
  }
  .intro {
    height: 263vh;
    // font-size: 0.7rem;
  }

  .intro__dataOne {
    min-height: 100vh;
  }
  .intro__dataOne {
    // height: 74vh;
    // padding: 5px;
  }

  .introObjetives {
    margin-bottom: -5rem;
    height: 265vh;

    margin-bottom: -5rem;
    padding: 9rem 2rem;
    height: 270vh;
    // background-color: #10f57f;
  }

  .paragraph {
    padding: 1rem;
  }

  .values {
    padding: 10rem 3rem;
  }
}

@media (max-width: 700px) {
  .intro {
    min-height: 260vh;
    // background-color: #ffd07f;
  }

  .introObjetives {
    // margin-bottom: -5rem;
    height: 275vh;

    padding: 8rem 2rem;
  }
  .intro__dataTwo {
    border: 0.3px solid #faeee0;
  }

  .intro__dataOne--imageOne,
  .intro__dataTwo--imageTwo {
    height: 50vh;
  }

  .introObjetives {
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    padding: 10rem 2rem 2rem;
    margin-top: -8rem;
  }

  .values {
    // background-color: #f3c807;
    padding: 8rem 1.5rem;
    margin-bottom: -10vh;
    min-height: 120vh;
    // min-height: 80vh;
    // background-color: rgb(86, 92, 81);
  }
}

@media (max-width: 650px) {
  .operations__tab {
    margin-right: 1.2rem;
    // background-color: #0065bd;
  }
}

@media (max-width: 600px) {
  .HomepageImages {
    padding: 10rem 1rem 1rem;
  }

  .intro__dataOne {
    min-height: 110vh;
  }
  .intro__dataTwo {
    min-height: 120vh;
  }

  .intro {
    min-height: 280vh;
    // background-color: #f3c807;
    // background-color: #ffd07f;
  }

  .introObjetives {
    // margin-bottom: -5rem;
    height: 275vh;

    padding: 7rem 2rem;
  }
  .ImageOne,
  .ImageTwo {
    flex-direction: column;
    height: 75vh;
  }

  .Image3 {
    height: 30vh;
  }

  .Image1 {
    height: 35vh;
  }

  // .intro__dataOne {
  //   min-height: 100vh;
  // }
  .operations__tab {
    margin-right: 1.2rem;
    // background-color: #0065bd;
  }

  .btnn {
    padding: 1rem 1.2rem;

    font-size: 1rem;
    border-radius: 1rem;
  }
}

@media (max-width: 550px) {
  .intro {
    // min-height: 235vh;

    padding: 4rem 1rem;
  }

  .introObjetives {
    // clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    padding: 8rem 1rem 1rem;
    // margin-top: -8rem;
  }
  .paragraph {
    // padding: 0.5rem 0;
  }

  .heading-left {
    font-size: 1.7rem;
  }
  .HomepageImages {
    height: 80vh;
  }

  .ImageOne,
  .ImageTwo {
    flex-direction: column;
    height: 45vh;
  }
  .Image3,
  .Image2 {
    height: 20vh;
  }

  .Image1,
  .Image4 {
    height: 25vh;
  }
}

@media (max-width: 500px) {
  .HomepageImages {
    // clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);

    padding: 6rem 1rem 1rem;
    height: 70vh;
  }
  .intro__dataOne {
    min-height: 112vh;
  }
  .intro__dataTwo {
    height: 122vh;
  }

  .intro {
    min-height: 277vh;
    // font-size: 1rem;
  }

  .introObjetives {
    // margin-bottom: -5rem;
    height: 300vh;

    // padding: 7rem 2rem;
  }

  .heading-primary {
    text-shadow: none;
    letter-spacing: 3px;
    font-size: 1.9rem;
    padding-bottom: 3rem;
  }

  .heading-left {
    font-size: 1.8rem;
    letter-spacing: 3px;
    padding-bottom: 1rem;
  }

  .operations__icon {
    display: none;
  }

  .operations__header {
    display: none;
  }
  .operations__tab-container {
    flex-direction: column;
    justify-content: center;
  }

  .operations__content--active {
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }

  // .paragraph {
  //   font-size: 1rem;
  // }
}

@media (max-width: 450px) {
  .HomepageImages {
    clip-path: polygon(0 7vh, 100% 0, 100% 100%, 0 100%);
  }

  .intro__dataOne {
    min-height: 128vh;
  }
  .intro__dataTwo {
    // height: 130vh;
  }

  .intro {
    min-height: 300vh;
    font-size: 0.8rem;
  }
  .introObjetives {
    // margin-bottom: -5rem;
    height: 315vh;

    padding: 7rem 1rem;
  }
  // }
  .values {
    // padding: 6rem 3rem;
    // background-color: #f80a9d;
    clip-path: polygon(0 8vh, 100% 0, 100% 100%, 0 100%);
    font-size: 0.8rem;
    min-height: 110vh;
  }

  .operations__content p {
    grid-column: 0;
  }

  .operations {
    max-width: 100rem;
    margin: 3rem 0;
    padding: 1rem 0;
    border-radius: 1rem;
    font-size: 0.9rem;

    // background-color: #0ecabb;
    // background-color: #8ee02f;
    // background-color: rgb(227, 243, 243);
  }

  .operations__content--active {
    display: grid;
    // grid-template-columns: 7rem 1fr;
    column-gap: 2px;
    // background-color: #0065bd;
  }
}

@media (max-width: 400px) {
  .intro,
  .values,
  .operations {
    // font-size: 0.4rem;
  }

  .HomepageImages {
    // clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);

    // padding: 6rem 2rem 2rem;
    // height: 70vh;
  }

  .intro__dataOne {
    min-height: 118vh;
  }
  .intro__dataTwo {
    // height: 130vh;
  }

  .intro {
    min-height: 285vh;
    // font-size: 0.8rem;
  }

  .introObjetives {
    margin-bottom: -5rem;
    height: 295vh;
  }

  .heading-left {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }
  .operations {
    font-size: 0.9rem;
  }
}

@media (max-width: 330px) {
  .intro {
    // min-height: 240vh;
    // background-color: #0065bd;
    // min-height: 285vh;
  }

  .introObjetives {
    // margin-bottom: -5rem;
    height: 295vh;
  }

  .intro__dataOne {
    // min-height: 115vh;
  }

  .intro__dataTwo {
    // height: 130vh;
  }
  .values {
    // padding: 6rem 1rem;
  }
}

@media (max-width: 300px) {
  .intro__dataOne {
    min-height: 123vh;
  }
  .intro__dataTwo {
    height: 130vh;
  }

  .intro {
    min-height: 300vh;
    // font-size: 0.8rem;
  }
  .HomepageImages {
    height: 65vh;
  }

  .introObjetives {
    // margin-bottom: -5rem;
    height: 319vh;
  }
  // .intro {
  //   min-height: 298vh;

  // }
  // .intro__dataTwo {
  //   height: 146vh;
  // }

  // .intro__dataOne {
  //   min-height: 115vh;
  // }
}

@media (max-width: 270px) {
  // .intro__dataOne {
  //   min-height: 123vh;
  // }
  // .intro__dataTwo {
  //   height: 130vh;
  // }

  .intro {
    min-height: 310vh;
  }

  .introObjetives {
    // margin-bottom: -5rem;
    height: 326vh;
  }
}

@media (max-width: 283px) {
  // .intro {
  //   min-height: 310vh;
  // }
  // .intro__dataOne {
  //   min-height: 119vh;
  // }
  // .intro__dataTwo {
  //   height: 152vh;
}
