/* Footer */
.footer {
    background-color: #002B5C;
    height: 40vh;
    text-align: center;
}

.footerB {
    background-color: black;
    height: 10vh;
    text-align: center;
    color: white;
}

/* Social Media Buttons */
